*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.inner-container{
    max-width: 800px;
    margin-left: auto;
    
}

.btn{
    color: white;
    background-color: #0061ff;
    border-color: transparent;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;

    background-color: white;
    height: 80px;

    position: fixed;
    width: 100%;
    z-index: 2;

}

nav .left-icons, .right-icons{
    display: flex;
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

/* /navbar  */

/* header  */

header{
    background-color: #b4d0e7;
}

header .container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

header .container h1{
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 25px;

}

header .container .left-block{
    display: flex;
}

header .container .left-block .text{
    padding-top: 50px;
    width: 40%;
    font-size: 0.9em;
}

header .container .left-block .text i{
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

header .container .left-block .text p{
    padding-bottom: 30px;
}

header .container .left-block .text .btn{
    margin-bottom: 30px;
}




header .container .left-block .frame{
    position: relative;
    width: 60%;
}


header .container .left-block .frame img{
    position: absolute;
    bottom: -70px;
    width: 130%;
    
}
/* /header */

/* main  */

main .inner-container .title{
    padding-top: 150px;
}

main .inner-container .title h2{
    font-size: 2.2em;

    margin-bottom: 25px;
}

main .inner-container .title .check-block{
    width: 50%;
    display: flex;
    justify-content: space-between;

}


main .inner-container .title .check input{
    margin-right: 10px;
}

main .inner-container .plans{
    margin: 50px 0px;
    display: flex;
    gap: 20px;
}

/* col style*/

.plans .col{
    width: calc(100% / 3);
}

.col{
    border: 1px solid lightgray;
}

.col .name{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 0.8em;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

main .inner-container .plans .col .inner-col{
    padding: 25px 20px;
}



.col-head h3{
    font-size: 1.2em;
    font-weight: 800;
    padding-bottom: 1em;
}

.col-head .price{
    font-size: 0.8em;
    font-weight: 800;
    padding-bottom: 1em;

}

.col-head .under-price{
    font-size: 0.8em;
    color: rgb(160, 160, 160);
}


.col-body{
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    font-size: 0.75em;
}

.col-body ul{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    list-style-type: none;
}

.col-body ul li{
    display: flex;
    gap: 2px;
}

.col-body ul li i{
    position: relative;
    left: -5px;
}

.btn-col{
    font-size: 0.75em;
    margin-top: 4em;
    margin-bottom: 3em;
}

.col-body p{
    padding-bottom: 3em;
}

.col-body hr{
    border-color: lightgrey;
    width: 50px;
}

.col-footer{
    font-size: 0.75em;
}

.col-footer ul{
    display: flex;
    flex-direction: column;
    gap: 3em;

    list-style-type: none;

}


.col-footer ul li i{
    color: blue;
}


/* /col style */

.col-row{
    display: flex;
    gap: 20px;

    padding: 25px 20px;
    
}

.col-row .inner-left{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.col-row .inner-left h3{
    font-weight: 800;
}

.col-row .inner-left p{
    font-size: 0.8em;
}


.col-row .inner-right .btn{
    font-size: 0.8em;
    width: 300px;
    text-align: center;
}

/* init section */

.partners{
    display: flex;
    gap: 40px;
    
    margin-top: 100px;

}

.partners img{
    width: 60%;

}

.partners .img-text{
    align-self: center;
}

.partners .img-text h2{
    font-size: 1.3em;
    padding-bottom: 1em;
}

.partners .img-text p{
    font-size: 0.8em;
    line-height: 1.3em;
    padding-bottom: 2em;
}

.partners .img-text .btn-white{
    padding: 10px;
    background-color: white;
    border-color: gray;
}


/* end partners */

/*operation dropbox*/

.row{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.row .card{
    width: calc(100% / 3);
}

.row .card img{
    width: 100%;
}

.row .card .card-text > h3{
    font-weight: 800;
    padding-bottom: 2em;
}

.row .card .card-text > p{
    font-size: 0.8em;
}

/* /operation dropbox*/

#half{
    width: 70%;
    margin-bottom: 7em;
}

#half h2{
    margin-bottom: 2em;
}

#half a{
    font-size: 0.8em;
}


/*features & squares settings*/

.features{
    width: 100vw;
    display: flex;

}

.features .square-left{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  
}

.features .square-right{
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}



.features .square-left .brand{
    width: 50%;
    height: 50%;
}

.features .square-right .brand{
    width: 50%;
    height: 50%;
}

.features .square-left .brand img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    filter: invert(1);
    width: 60%;
}

.features .square-right .brand img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    filter: invert(1);
    width: 60%;
}


/*square left settings */

.features .square-left .brand.designit{
    background-color: #a2d39b;
}


.features .square-left .brand.arizona{
    background-color: #61082b;
}


.features .square-left .brand.florida{
    background-color: #0093ce;
}

.features .square-left .brand.topps{
    background-color: #ff1c1c;
}


/*square central settings*/

.features .square-central{
    display: flex;
    flex-direction: column;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    padding: 2em;
    overflow-y: auto;
} 


.features .square-central img{
    width: 50%;
    margin-bottom: 3em;
}

.features .square-central hr{
    border-color: lightgray;
    width: 20%;
}

.features .square-central p{
    margin-top: 2em;
    font-size: 0.8em;
}



.features .square-right .brand.bicycle{
    background-color: #d5001f;

}

.features .square-right .brand.hearst{
    background-color: #b4d0e7;
}

.features .square-right .brand.lonely{
    background-color: #0d2481;
}

.features .square-right .brand.clear{
    background-color: #ffd830;
}

/* /features*/

/*bottom section*/

section.bottom{
    padding-bottom: 100px;
    background-color: #b4d0e7;
}

section .title.color{
    width: 60%;
    color: #60072a;
}


.bottom .inner-container{
    display: flex;
}

.bottom .inner-container .btn-white{
    align-self: center;
    padding: 15px;
    color: gray;
    border-color: gray;
}


/*FAQ*/

.faq-quest .question{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid lightgray;
    font-weight: 700;
}

.faq-quest p{
    display: none;
}


.faq-quest:hover p{
    display: inline-block;
    
}